<h1> Resultado da Busca: <%= @query %> </h1>
<hr/>
<% if @insurances.empty? %>
  <p>Nenhuma Seguradora encontrada</p>
<% end %>
<% @insurances.each do |insurance| %>
  <div>
    <dl>
      <dt> <%= t(:insurance_name)%>:</dt>
      <dd> <%= link_to insurance.insurance_name, insurance_path(insurance.id) %></dd>
      <dt> <%= t(:name)%>:</dt>
      <dd> <%= insurance.name %></dd>
      <dt> <%= t(:price)%>:</dt>
      <dd> <%= number_to_currency(insurance.price) %></dd>
    </dl>
  </div>
<% end %>
