<h1 class="display-6"> Detalhes do Pacote: <b><%="#{@insurance.name}"%></b></h1>
<hr/>

<table class="table">
  <tbody>
    <tr>
      <th scope="row"><%="#{t :insurance_name}"%></th>
      <td><%= "#{@insurance.insurance_name}" %> </td>
    </tr>
    <tr>
      <th scope="row"><%="#{t :max_period}"%></th>
      <td><%= "#{@insurance.max_period}" %> </td>
    </tr>
    <tr>
      <th scope="row"><%="#{t :min_period}"%></th>
      <td><%= "#{@insurance.min_period}" %> </td>
    </tr>
    <tr>
      <th scope="row"><%="#{t :product_model}"%></th>
      <td><%= "#{@product['product_model']}" %> </td>
    </tr>
    <tr>
      <th scope="row"><%="#{t :price}"%></th>
      <td><%= "#{number_to_currency((@insurance.price_per_month).to_i * 12 )}" %> </td>
    </tr>
    <tr>
    <th scope="row"><%="#{t :coverages}"%></th>
      <td>
        <% @insurance.coberturas.each do |c| %>
          <%= c['name'] %> (<%= c['description'] %>) <br>
        <% end %>
      </td>
    </tr>
    <th scope="row"><%="#{t :services}"%></th>
      <td>
        <% @insurance.services.each do |service| %>
          <%= service['name'] %> (<%= service['description'] %>) <br>
        <% end %>
      </td>
  </tbody>
</table>

<%= link_to t(:to_hire), new_product_insurance_order_path(@product_id, @id), class: 'btn btn-dark mt-3' %>