

<br/><h1 class="display-6"><%= @equipment.name.upcase %></h1><br/>
<dl>
  <dt><%= Equipment.human_attribute_name(:brand) %>:</dt>
  <dd><%= @equipment.brand %></dd>
  <dt><%= Equipment.human_attribute_name(:purchase_date) %>:</dt>
  <dd><%= l(@equipment.purchase_date) %></dd>
  <dt><%= Equipment.human_attribute_name(:invoice) %></dt>
  <dd><%= image_tag @equipment.invoice %></dd>  
<dt><%= Equipment.human_attribute_name(:photos) %></dt>
  <dd>
  <% @equipment.photos.each do |photo| %>
    <%= image_tag photo, class:"img" %>
  <% end %>
  </dd>
</dl>
<%= link_to t(:edit), edit_equipment_path, class: 'btn btn-dark mb-4'%>
