<br/><h1 class="display-6"><%= t(:my_profile) %></h1><br/>
<div class="container">
  <ul class="list-group">
    <div class="row"> 
      <div class="col-lg-6 col-12">
        <li class="list-group-item">
          <b><%= Client.human_attribute_name(:name) %>:</b>
          <%= @client.name %>
        </li>
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-6 col-12">
        <li class="list-group-item">
          <b><%= Client.human_attribute_name(:email) %>:</b> 
          <%= @client.email %>
        </li>
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-6 col-12">
        <li class="list-group-item">
          <b><%= Client.human_attribute_name(:cpf) %>:</b> 
          <%= @client.formatted_cpf %>
        </li>
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-6 col-12">
        <li class="list-group-item">
          <b><%= Client.human_attribute_name(:address) %>:</b> 
          <%= @client.formatted_address %>
        </li>
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-6 col-12">
        <li class="list-group-item">
          <b><%= Client.human_attribute_name(:birth_date) %>:</b> 
          <%= l(@client.birth_date) %>
        </li>
      </div>
    </div>
  </ul>
  <%= link_to t(:edit_profile), edit_client_registration_path, class: 'btn btn-dark mt-3' %>
</div>

