<h2>Confirme os dados e insira os dados de pagamento</h2>
<ul>
  <li> Dados do seguro</li>
  <li> Nome da Seguradora: Seguradora 1</li>
  <li> Tipo de Pacote: Premium</li>
  <li> Modelo do Produto: Iphone 14 - ProMax</li>
  <li> Valor de Contratação para 12 meses: R$ 50,00</li>
</ul>
<%= bootstrap_form_with(model: @order, local: true) do |f| %>
	<div>
    <%= f.text_field :card_number %>
	</div>
	<div>
    <%= f.text_field :card_name %>
	</div>
	<div>
    <%= f.text_field :expiration_date %>
	</div>
	<div>
    <%= f.text_field :cvv %>
	</div>
  <%= f.submit "Contratar" %>
<% end %>