<h2>Confirme os dados e insira os dados de pagamento</h2>
<ul>
  <li> Dados do seguro</li>
  <li> Nome da Seguradora: Seguradora 1</li>
  <li> Tipo de Pacote: Premium</li>
  <li> Modelo do Produto: Iphone 14 - ProMax</li>
  <li> Valor de Contratação para 12 meses: R$ 50,00</li>
</ul>
<%= bootstrap_form_with(model: @order, local: true) do |f| %>
	<div>
    <%= f.select :product, [["Iphone 14 - ProMax", 1], ["Tv LG", 2]], { label: "Selecione o dispositivo", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
	</div>
	<div>
    <%= f.select :period, [["6 meses", 1], ["12 meses", 2]], { label: "Selecione o período de contratação", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
	</div>
	<div>
    <%= f.select :payment_method, [["Cartão", 1], ["Pix", 2]], { label: "Selecione o meio de pagamento", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, { class: "selectpicker" } %>
	</div>
  <%= f.submit "Contratar" %>
<% end %>