<h1 class="fs-2"> Boas vindas ao Comparador de Seguros </h1>
<p class="text-secondary"> Informe abaixo o nome do seu produto para encontrar os Pacotes de Seguro compatíveis </p>
<hr/>

<%= form_with(url: search_path, method: :get) do |f|%>

  <%= f.label :query, 'Produto' %>
  <%= f.text_field :query %>
  <%= f.submit 'Buscar' %>
  <% end %>
  
<div class="row g-3 align-items-center mt-4">
  <div class="col-auto">
    <%= f.label :query, 'Produto', class: 'col-form-label' %>
  </div>
  <div class="col-auto">
    <%= f.text_field :query, class: 'form-control' %>
  </div>
  <div class="col-auto">
    <%= f.submit 'Buscar', class: 'btn btn-dark' %>
  </div>
</div>
<% end %>

