<ul class="list-group list-group-flush">
  <li class="list-group-item"><%="#{t :insurance_name}: #{@order.insurance_name}"%></li>
  <li class="list-group-item"><%="#{t :packages}: #{@order.packages}"%></li>
  <li class="list-group-item"><%="#{t :insurance_model}: #{@order.insurance_model}"%></li>
  <li class="list-group-item"><%="#{t :contract_period}: #{@order.contract_period} meses"%></li>
  <li class="list-group-item"><%="#{t :packages}: #{@order.packages}"%></li>
  <li class="list-group-item"><%="#{t :equipment}: #{@equipment.name}"%></li>
  <li class="list-group-item"><%="#{t :contract_price}: #{number_to_currency(@order.contract_price)}"%> </li>
  <li class="list-group-item"> Status: <%= Order.human_attribute_name("status.#{@order.status}")%> </li>
</ul>

# link_to t(:payment), pagamento_path, class: 'btn btn-dark mt-3'

