<h1 class="display-6">Informações do Pedido <%= "#{@order.code}" %></h1>
<hr/>
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <p class="card-text"><%="#{Order.human_attribute_name(:insurance_name)}: #{@order.insurance_name}"%></p>
    <p class="card-text"><%="#{Order.human_attribute_name(:package_name)}: #{@order.package_name}"%></p>
    <p class="card-text"><%="#{Order.human_attribute_name(:contract_period)}: #{@order.contract_period} #{t :month, count: @order.contract_period}"%></p>
    <p class="card-text"><%="#{Order.human_attribute_name(:equipment)}: #{@equipment.name}"%></p>
    <p class="card-text"><%="#{Order.human_attribute_name(:price)}: #{number_to_currency(@order.price, unit: "R$", separator: ",", delimiter: "", format: "%u %n")}"%></p>
    <p class="card-text"><%="#{Order.human_attribute_name(:final_price)}: #{number_to_currency(@order.final_price, unit: "R$", separator: ",", delimiter: "", format: "%u %n")}"%></p>

    <% if !@order.insurance_coverages['coverages'].nil?%>
      <% @order.insurance_coverages['coverages'].each do |c| %>
        <p class="card-text"> <%= Order.human_attribute_name(:insurance_description) %>: <%= Order.human_attribute_name(c['name'])%> - <%= c['description'] %></p>
      <% end %>
    <% end %>
    <% if @order.charge_pending? %>
      <p class="card-text"><%=Order.human_attribute_name(:payment_method)%>: <%=@order.payment.payment_description%></p>
      <p class="card-text"><%=Payment.human_attribute_name(:parcels)%>: <%=@order.payment.parcels%>x</p>
    <% end %>
    <p class="card-text"> <%= Order.human_attribute_name(:status) %>: <%= Order.human_attribute_name("status.#{@order.status}")%></p>
    <% @order.equipment.photos.each do |photo| %>
      <%= image_tag photo, class:"card-img-top" %>
      <% break %>
    <% end %>
    <% if @order.insurance_approved? %>
      <%= link_to t(:pay), new_order_payment_path(@order), class: 'btn btn-warning'%>
    <% end %>
    <% if @order.charge_approved? %>
      <%= link_to 'Ver Apólice', order_policies_path(@order.id), class: 'btn btn-dark mt-3'%>
    <% end %>
  </div>
</div>


<% if @order.charge_approved? %>
  <%= link_to 'Ver Apólice', order_policy_path(@order.id), class: 'btn btn-dark mt-3'%>
<% end %>
