<h1 class="display-6">Meu Pedido</h1>
<hr/>
<div class="card" style="width: 20rem;">
  <div class="card-header">
    <%= @order.equipment.name %>
  </div>
  <div class="card-body">
    <p class="card-text"><%=Equipment.human_attribute_name(:brand)%>: <%= @order.equipment.brand%></p>
    <p class="card-text"><strong><%=Order.human_attribute_name("status.#{@order.status}")%></strong></p>
    <% @order.equipment.photos.each do |photo| %>
      <%= image_tag photo, class:"card-img-top" %>
      <% break %>
    <% end %>
  </div>
</div>
<h1 class="fs-2">Informações do Pedido</h1>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><%="#{Order.human_attribute_name(:insurance_name)}: #{@order.insurance_name}"%></li>
  <li class="list-group-item"><%="#{Order.human_attribute_name(:packages)}: #{@order.packages}"%></li>
  <li class="list-group-item"><%="#{Order.human_attribute_name(:insurance_model)}: #{@order.insurance_model}"%></li>
  <li class="list-group-item"><%="#{Order.human_attribute_name(:contract_period)}: #{@order.contract_period} #{t :month, count: @order.contract_period}"%></li>
  <li class="list-group-item"><%="#{Order.human_attribute_name(:equipment)}: #{@equipment.name}"%></li>
  <li class="list-group-item"><%="#{Order.human_attribute_name(:price_percentage)}: #{@order.price_percentage}"%>%</li>
  <li class="list-group-item"><%="#{Order.human_attribute_name(:total_price)}: #{number_to_currency(@order.total_price)}"%></li>
  <li class="list-group-item"> <%= Order.human_attribute_name(:status) %>: <%= Order.human_attribute_name("status.#{@order.status}")%></li>
</ul>

<% #link_to t(:payment), pagamento_path, class: 'btn btn-dark mt-3'%>

