<% if @products.empty? %>
  <p>Nenhum produto encontrado</p>
<% end %>
<% @products.each do |product| %>
  <div>
    <dl>
      <dd> <%= t(:product)%>: <%= link_to product.product_model, product_insurances_path(product.id) %></dd>
      <dt> <%= t(:brand)%>:</dt>
      <dd> <%= product.brand %></dd>
      <%= image_tag product.image_url, class:"img" %>
    </dl>
  </div>
<% end %>