<!DOCTYPE html>
<html>
  <head>
    <title>InsuranceComparatorApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <% if client_signed_in? %>
        <%= "#{ current_client.name} | #{ current_client.email }" %>
        <%= button_to t(:sign_out), destroy_client_session_path, method: :post %>
      <% else %>
        <%= link_to t(:sign_in), new_client_session_path %>
      <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
