<!DOCTYPE html>
<html>
  <head>
    <title>InsuranceComparatorApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> %> %>
  </head>

  <body>
    <header>
      <nav>
        <% if client_signed_in? %>
          <%= link_to current_client.formatted_name_and_email, client_path(current_client) %>
          <%= button_to t(:sign_out), destroy_client_session_path, method: :delete %>
        <% else %>
          <%= link_to t(:sign_in), new_client_session_path %>
       <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
